@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
    --default: #f3f3f3;
    --other: #bebebe;
    --accent: #6adcff;
    --hover: #afecff;
    --main-background: #000c38;
    --background: #1d3364;
    --bar: #00000069;
    --font: 'Poppins';
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

*:not(i) {
    font-family: var(--font), cursive;
}

a {
    color: var(--accent);
}

a:link {
    text-decoration: none;
}

p {
    font-size: clamp(0.5rem, 4vw, 1rem);
    line-height: 1.6;
    color: var(--default);
    margin: 0;
}

p > a {
    color: var(--accent);
    font-weight: bold;
    transition: all 0.2s ease;
}

p > a:hover {
    color: var(--hover);
}

i {
    display: inline-block;
    font-size: clamp(0.5rem, 4vw, 0.9rem);
    color: var(--other);
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.2;
  }

h1 {
    font-size: clamp(1.5rem, 8vw, 4rem);
    color: var(--default);
    position: relative;
    z-index: 1;
    text-shadow: 0px 0px 64px var(--accent);
}

h1 span {
    display: inline-block;
    color: var(--accent);
}

h3 {
    font-size: clamp(1.4rem, 8vw, 2.25rem);
    color: var(--default);
    margin-top: 0;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: clamp(0.75rem, 6vw, 1.25rem);
    color: var(--default);
    transition: all 0.2s ease;
}

h4 span {
    font-size: clamp(0.75rem, 6vw, 1.15rem);
    color: var(--accent);
    letter-spacing: 0.05em;
    text-shadow: 0px 0px 64px var(--accent);
}

a > h4:hover {
    color: var(--accent);
}

h5 {
    font-size: clamp(1rem, 6vw, 1.5rem);
    color: var(--default);
}

h5 span {
    color: var(--accent);
    text-shadow: 0px 0px 64px var(--accent);
}

h6 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: clamp(1rem, 6vw, 1.25rem);
    font-weight: bold;
    color: var(--accent);
    text-shadow: 0px 0px 48px var(--accent);
}

h7 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--default);
    font-size: clamp(0.5rem, 4vw, 1rem);
}

h7 span {
    color: var(--accent);
    text-shadow: 0px 0px 48px var(--accent);
}

.extra-top-padding {
    padding-top: 4vmax;
}

.spacer {
    margin-bottom: 12px;

    &.large {
        margin-bottom: 24px;
    }

    &.huge {
        margin-bottom: 4rem;
    }
}

.center-text {
    text-align: center;
    margin-bottom: 1.5rem;
}

.main-background {
    position: fixed;
    width: 110%;
    height: 110%;
    object-fit: cover;
    object-position: center;
    z-index: -10;
    opacity: .2;
    filter: blur(1rem) grayscale(50%);

    &.dark {
        filter: blur(1rem) grayscale(50%) brightness(75%);
    }
}

section {
    padding: 1vmax 2vw;
    margin: 0;

    &.extra-top-padding {
        padding: 7.5rem 2vw 2vmax 2vw;
    }
}

section .container {
    margin: auto;
    max-width: 1200px;
}

section .container > object {
    height: clamp(96px, 80vw, 800px);
}

section img.big {
    border-radius: 32px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 10rem;
    max-height: 15rem;
    box-shadow: 2px 2px 12px rgba( 0, 0, 0, 0.5 );
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    &.center {
        justify-content: center;
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.description {
    flex-basis: 75%;
}

.twitter-tweet {
    margin: 0 !important;
}

/* Header */
header {
    position: absolute;
    top: 0;
    min-height: 500px;
    width: 100%;
    margin-bottom: 1vmax;
    overflow: hidden;
    pointer-events: none;

    &.main {
        position: relative;
        min-height: 16vmax;
    }
}

header .container {
    text-align: center;
    padding: 5.5vmax 0 4.5vmax 0;
}

header img {
    position: relative;
    width: clamp(96px, 50%, 64px);
    height: clamp(96px, 50%, 64px);
    overflow: hidden;
    border-radius: 50%;
    border: thick double var(--accent);
}

header video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    opacity: 0.4;
    filter: blur(4px) grayscale(50%);
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}
/* ---- */

/* Social */
.socials {
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.4rem;
    row-gap: 0;
}

.socials a {
    line-height: 0;
}

.socials svg {
    fill: var(--default);
    height: clamp(1rem, 6vw, 2rem);
    width: clamp(1rem, 6vw, 2rem);
    transition: all 0.2s ease;
}

.socials svg:hover {
    fill: var(--accent);
}
/* ---- */

video {
    height: 140px;
    width: 100%;
    flex-basis: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}

iframe {
    width: 100%;
    flex-basis: 100%;
    height: 140px;
    border-radius: 12px;
}

/* Banner */
.banner-image {
    position: relative;
    padding: 12px;
    margin-bottom: 2rem;
    height: 140px;

    &:hover .content img, &:hover .content h1 {
        transform: scale(1.05);
    }

    &:hover .hide {
        opacity: 0;
        transition: all 0.2s ease-in;
    }

    .background {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: 2px 2px 12px rgba( 0, 0, 0, 0.2 );
        background-size: cover;
        background-position: center;
        transition: all 0.05s ease-in;
    }

    .content {
        position: relative;
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100%;

        &.shadow {
            filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4));
        }

        &.small img {
            max-height: 75%;
        }

        &.smaller img {
            max-height: 60%;
        }

        img {
            max-width: 100%;
            max-height: 90%;
            margin: auto;
            border-radius: 8px;
            transition: transform 0.1s ease-in-out;
        }

        h1 {
            font-size: clamp(1.5rem, 8vw, 3rem);
            text-align: center;
            margin: auto;
            transition: transform 0.1s ease-in-out;
        }
    }
}
/* ---- */

/* Info */
.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--bar);
    
    .header {
        display: flex;
        flex-direction: row;
        gap: 12px;

        .line {
            position: relative;
            flex-grow: 1;
            border-bottom: 2px solid var(--other);
            bottom: 20px;
        }
    }

    .row {
        gap: 6px;
        align-items: center;
    }
}
/* ---- */

/* Cards */
.card-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;

    .card {
        flex-basis: 100%;
        margin-bottom: 24px;
    }

    .card-image {
        height: 140px;
        width: 100%;
        max-height: 140px;

        &.grow {
            max-height: unset;
        }
    }

    &.horizontal {
        flex-direction: column;
    }

    &.vertical {
        flex-direction: column;
    }

    &.center {
        justify-content: center;
        align-items: center;
    }
}

.card-grid {
    display: grid;
    flex-grow: 1;
    grid-auto-rows: 140px;
    gap: 12px;
}

.card {
    display: flex;
    flex-direction: column;

    h7 {
        margin-top: 0.5rem;
    }

    .card-image {
        margin-bottom: 12px;
    }

    .banner-image {
        margin-bottom: 12px;
    }
}

.card-image {
    position: relative;
    display: flex;
    align-content: start;
    justify-content: end;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 100%;
    transition: all 0.1s;
    box-shadow: 2px 2px 12px rgba( 0, 0, 0, 0.4 );

    &:hover {
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
        transform: scale(1.025);
    }

    svg {
        position: absolute;
        margin: auto;
        inset: 0;
        height: clamp(3.5rem, 7vw, 4.5rem);
        width: clamp(3.5rem, 7vw, 4.5rem);
        fill: #FF0000;
        filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4));
    }

    img {
        position: absolute;
        margin: auto;
        left: 0.5rem;
        bottom: 0.5rem;
        height: clamp(2.5rem, 7vw, 3.5rem);
        width: clamp(2.5rem, 7vw, 3.5rem);
        filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4));
    }

    a {
        display: flex;
        width: 100%;
        height: 100%;
    }

    video {
        height: 100%;
        width: 100%;
        flex-basis: 100%;
        object-fit: cover;
        object-position: center;
    }
 }

@media screen and (min-width: 368px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-row {
        flex-direction: column;

        &.horizontal {
            flex-direction: row;
        }

        &.vertical {
            flex-direction: row;
        }
    }

    .info-container {
        padding: 18px;
    }

    iframe {
        width: 50%;
        height: 140px;
    }
}

@media screen and (min-width: 768px) {
    .card-tall {
        grid-row: span 2 / auto;
    }

    .card-row > .card-image {
        &.card-tall {
            height: 328px;
        }
    }

    .card-super-tall {
        grid-row: span 4 / auto;
    }

    .card-wide {
        grid-column: span 2 / auto;
    }

    .card-super-wide {
        grid-column: span 4 / auto;
    }

    .card-across {
        grid-column: 1 / -1;
    }
    
    .card-grid {
        grid-auto-rows: 140px;
        grid-template-columns: repeat(5, 1fr);
    }

    .card-row {
        flex-direction: row;

        &.horizontal {
            flex-direction: row;
        }

        &.vertical {
            flex-direction: column;
        }

        &.small > video {
            height: 180px;
        }
    }

    video {
        height: 328px;
    }

    iframe {
        width: 100%;
        height: 328px;
    }
}
/* ---- */

/* Logo */
.logo {
    width: 200px;
    height: 55px;
    position: relative;
    padding-left: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    background-image: linear-gradient( 70deg, var(--main-background), rgba( 20, 0, 0, 0 ) );
}

.logo-image {
    background-repeat: no-repeat !important;
    background-size: contain;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    width: 150px;
    height: 35px;
}

.small-logo {
    height: clamp(32px, 8vw, 96px);
}

.platform {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    column-gap: 0.4rem;
}

.platform:hover>svg {
    fill: var(--accent);
}

.platform:hover>h5 {
    color: var(--accent);
}

.platform svg {
    fill: var(--default);
    height: clamp(1.25rem, 7vw, 2rem);
    width: clamp(1.25rem, 7vw, 2rem);
    transition: all 0.2s ease;
}

.platform h5 {
    position: relative;
    font-weight: bold;
    top: 5px;
    transition: all 0.2s ease;
}

.row .platform {
    padding-left: 4px;
}
/* ---- */

/* Tools */
.tools {
    padding: unset;
}

.tools .container {
    padding: 0;
    justify-content: space-evenly;
}

.tools img {
    height: clamp(2rem, 16vw, 12rem);
    width: clamp(2rem, 16vw, 12rem);
    background-repeat: no-repeat !important;
    background-size: contain;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    filter: drop-shadow(1rem 0.5rem 1rem rgba(0, 0, 0, 0.5));
}
/* ---- */


/* Navigation Bar */
nav {
    position: absolute;
    width: 100%;
    height: 3.5rem;
    padding: 0 4vw;
    margin-top: auto;
    justify-content: center;
    align-content: center;
    background: var(--bar);
    z-index: 10;
}

nav .row {
    margin: auto;
    max-width: 1600px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    justify-content: start;

}

nav .index {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

nav .index a {
    margin-left: 3vw;
}

nav a > h7 {
    color: var(--default);
    transition: all 0.2s ease;
}

nav a:hover > h7 {
    color: var(--accent);
}

nav .current h7 {
    color: var(--accent);
    text-shadow: 0px 0px 48px var(--accent);
}

@media screen and (max-width: 768px) {
    nav h7 {
        font-size: clamp(0.5rem, 3vw, 1rem);
    }
}
/* ---- */

/* Footer */
footer-component {
    margin-top: auto;
}

footer {
    background: var(--bar);
    height: 3.5rem;
    padding: 0 4vw;
    justify-content: center;
    align-content: center;
    z-index: 10;
}

footer .row {
    margin: auto;
    max-width: 1200px;
    text-align: start;
    align-items: center;
}

footer h7 {
    flex-grow: 1;
    color: var(--default);
}

footer .socials svg {
    fill: var(--default);
}
/* ---- */

/* Tooltip */
.tooltip-box {
    position: absolute;
    bottom: 115%; /* Position it above the link */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    padding: 20px 16px;
    border-radius: 8px;
    white-space: nowrap;
    color: var(--default);
    background-color: var(--bar);
    backdrop-filter: blur(1rem);
    transition: opacity 0.2s ease;
    z-index: 1;
  }

  .hover-link {
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }

  .hover-link:hover .tooltip-box {
    opacity: 1;
    visibility: visible;
  }
  /* ---- */