@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
    --default: #ffffff;
    --other: #b4b4b4;
    --accent: #5ec5e4;
    --main-background: #1f2435;
    --background: #2d313f;
    --footer: #0000005b;
    --font: 'Poppins';
    --space: 4rem;
}

@media (max-width: 768px) {
    :root {
        --space: 2rem;
    }
}

html {
    scroll-behavior: smooth;
  }

*:not(i) {
    font-family: var(--font), cursive;
}

a {
    color: var(--accent);
}

a:link {
    text-decoration: none; 
}

p {
    color: var(--other);
    margin-bottom: 0;
}

h1 {
    font-size: clamp(1.5rem, 8vw, 4rem);
    font-weight: 500;
    color: var(--default);
    position: relative;
    z-index: 1;
    text-shadow: 0px 0px 64px var(--accent);
}

h1 span {
    display: inline-block;
    font-weight: 400;
    color: var(--accent);
}

h2 {
    font-size: 2.25rem;
    font-weight: 300;
    color: var(--default);
}

h3 {
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--default);
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--default);
}

h4 span {
    font-weight: 400;
    color: var(--accent);
    text-shadow: 0px 0px 64px var(--accent);
}

h6 {
    letter-spacing: 0.225em;
    text-transform: uppercase;
    color: var(--default);
    font-size: 1.25rem;
    font-weight: 600;
}

h6 span {
    color: var(--accent);
    text-shadow: 0px 0px 48px var(--accent);
}

h7 {
    letter-spacing: 0.225em;
    text-transform: uppercase;
    color: var(--default);
    font-size: 1rem;
    font-weight: 400;
}

h7 span {
    color: var(--accent);
    font-weight: 600;
    text-shadow: 0px 0px 48px var(--accent);
}

.avatar {
    position: relative;
    width: clamp(128px, 32vw, 256px);
    height: clamp(128px, 32vw, 256px);
    overflow: hidden;
    border-radius: 50%;
    border: thick double var(--accent);
}

.background-media {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 110%;
    height: 110%;
    object-fit: cover;
    object-position: center;
    z-index: -10;
    opacity: .1;
    filter: hue-rotate(200deg) blur(24px);
}

body {
    background: var(--main-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1400px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	justify-content: center;
}

.section {
    padding: var(--space) 0 var(--space) 0;
}


/* Navbar */
.nav-link {
    width: 200px;
    font-size: clamp( 0.7rem, 3vw, 1.25rem);
    font-weight: 600;
    white-space: nowrap;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    text-align: center;
    color: var(--other);
    transition: all 0.25s ease;
}

@media (max-width: 600px) {
    .nav-link {
        width: auto;
    }
}

.nav-link:hover {
    color: var(--accent);
    text-shadow: 0px 0px 48px var(--accent);
}
/* ---- */


/* Header */
header {
    background: radial-gradient( ellipse at bottom, var(--background), var(--main-background) );
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.4);
    margin-bottom: var(--space);
}

header > .container {
    padding: 2rem 0 5rem 0;
}

header img {
    position: absolute;
    height: 100%;
    z-index: 0;
}

header .background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 110%;
    height: 110%;
    object-fit: cover;
    object-position: center;
    opacity: .2;
    filter: blur(16px);
}
/* ---- */


/* About Me */
.about {
    padding: var(--space) 0 var(--space) 0;
}

.about .row.main > div:first-child p {
    font-size: 18px;
    line-height: 2;
}
/* ---- */


/* Box */
.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    transition: all 0.25s ease;
}

.box > * {
    flex-basis: 100%;
    width: 100%;
}

.box .card-body {
    display: flex;
    flex-direction: column;
}

.box .card-body p:nth-child(2) {
    flex-grow: 1;
}

.box:hover {
    transform: scale(1.025);
    border: thick double var(--accent);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 12px var(--accent);
}

.box .image {
    background-repeat: no-repeat !important;
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 15rem;
    box-shadow: 2px 2px 12px rgba( 0, 0, 0, 0.5 );
}

.box .large {
    min-height: 25rem;
}

@media (max-width: 768px) {
    .box .image {
        min-height: 15rem;
    }
}

@media (min-width: 768px) {
    .box.side > * {
        flex-basis: 50%;
        width: 50%;
    }
}
/* ---- */


/* Card */
.card {
    border: thick double var(--background);
    border-radius: 8px;
    background: var(--main-background);
    box-shadow: 2px 2px 12px rgba( 0, 0, 0, 0.5 );
}

.card-body {
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
}
/* ---- */


/* Spotlight */
.spotlight {
    transition: all 0.25s ease;
}

@media (min-width: 768px) {
    .spotlight:hover {
        transform: scale(1.5);
    }
}

.spotlight .content {
    transition: all 0.6s ease;
    overflow: hidden;
    position: absolute;
    bottom: 0%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--accent);
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
    text-shadow: 0px 0px 32px var(--accent);
}

.spotlight:hover > .content {
    height: 24px;
    display: block;
}
/* ---- */


/* Logo */
.logo {
    width: 300px;
    height: 50px;
    position: relative;
    padding-left: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    background-image: linear-gradient( 70deg, var(--main-background), rgba( 20, 0, 0, 0 ) );
}

.logo-image {
    background-repeat: no-repeat !important;
    background-size: contain;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    width: 150px;
    height: 30px;
}
/* ---- */


/* Social */
.socials {
    height: 32px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.socials svg {
    fill: var(--default);
    height: 32px;
    height: clamp(24px, 6vw, 32px);
    width: clamp(24px, 6vw, 32px);
    transition: all 0.25s ease;
}

.socials svg:hover {
    fill: var(--accent);
}
/* ---- */


/* Hidden */
.hidden {
    opacity: 0;
    transform: translateX(-24vh);
    filter: blur(5px);
    transition: all 0.6s ease;
}

.hidden.right {
    transform: translateX(24vh);
}

.hidden.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden:hover {
    z-index: 1;
}
/* ---- */


/* Footer */
footer {
    background: var(--footer);
    margin-top: var(--space);
    padding: 0 5vw;
}

footer a {
    display: block;
    color: var(--other);
}

footer a:hover {
    color: var(--accent);
    -webkit-transition: .25s ease color;
    -moz-transition: .25s ease color;
    -o-transition: .25s ease color;
    transition: .25s ease color;
}

footer h7 {
    color: var(--other);
}

footer svg {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
}
/* ---- */